<!-- 
hylowiki
GA WDI Project 1
Author: Michael N. Rubinstein
 -->

<!doctype html>
<html lang="en">
<head>
	<title>HyloWiki</title>
    <link rel="stylesheet" type="text/css" href="/public/semantic_ui/css/semantic.min.css">
</head>
<body>
    <h1 class="ui purple header">
        hylowiki
        <div class="sub header">The Wiki of the Material Universe.</div>
    </h1>
    <h4 class="ui black block header">
        Contents
    </h4>
    <div class="ui list">
    <% page_titles.each do |page| %>
        <div class="item">
            <i class="text file icon"></i>
            <div class="content">
                <a class="header"><%= page.title %></a>
                <div class="description">
                    - <a href="/pages/show?id=<%=page.id%>">Show</a> - <a href="/pages/edit?id=<%=page.id%>">Edit</a> - <a href="/pages/delete?id=<%=page.id%>">Delete</a>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</body>
</html>
