<!-- 
hylowiki
GA WDI Project 1
Author: Michael N. Rubinstein
 -->

<!doctype html>
<html lang="en">
<head>
	<title>HyloWiki</title>
    <link 
        rel="stylesheet"
        type="text/css"
        href="/public/semantic_ui/css/semantic.min.css">
</head>
<body>
    <h1 class="ui purple header">
        hylowiki
        <div class="sub header">The Wiki of the Material Universe.</div>
    </h1>
    <h4 class="ui black block header">
        Contents
    </h4>
    <div class="ui divided list">
    <% page_titles.each do |page| %>
        <div class="item">
            <% if logged_in %>
                <a href="/pages/edit?id=<%=page.id%>"><i class="edit link icon"></i></a>
            <% else %>
                <i class="text file icon"></i>
            <% end %>
            <div class="content">
                <a class="header" href="/pages/show?id=<%=page.id%>"><%= page.title %></a>
            </div>
        </div>
    <% end %>
    </div>
</body>
</html>
