body {
    font-family: Arial, Verdana, sans-serif;
}

h1, h2 {
    margin: 10px;
}

.board {
    border: 1px solid #eee;
    margin: 10px;
}

.post {
    padding: 10px;
    margin: 5px;
    border: 1px solid #aaa;
}

#new-post-form {
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px;
}

#post-contents {
    display: block;
    width: 25%;
    height: 200px;
}