<!-- 
hylowiki
GA WDI Project 1
Author: Michael N. Rubinstein
 -->

<!doctype html>
<html lang="en">
<head>
	<title>HyloWiki</title>
    <link 
        rel="stylesheet"
        type="text/css"
        href="/public/semantic_ui/css/semantic.min.css">
</head>
<body>
    <div class="ui menu">
        <a class="active item" href="/">
            <i class="home icon"></i> Home
        </a>
        <div class="text item">
            <i class="user icon"></i> (Logged in as <%= active_user.username %>)
        </div>
        <a class="item" href="/logout">
            <i class="sign out icon"></i> Logout
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <h1 class="ui purple header">
        hylowiki
        <div class="sub header">The Wiki of the Material Universe.</div>
    </h1>
    <h4 class="ui black block header">
        New Wiki Page
    </h4>
    <form action="/pages/create" method="POST">
        <div class="ui form segment">
            <div class="field">
                <label>Title</label>
                <input type="text" name="title">
            </div>
            <div class="field">
                <label>Content</label>
                <textarea name="contents"></textarea>
            </div>
            <input type="submit" class="ui blue submit button"></input>
        </div>
    </form>
</body>
</html>
